body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(217, 215, 221);
    padding: 30px;
}

header {
    background-color: #22c21c;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

nav {
    margin: 15px 0;
    background-color: #d7e10f;
    padding: 10px;
    border-radius: 15px;
}